@page
@{
}

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Ciudad</th>
      <th>Nombre_Aeropuerto</th>
      <th>Dirección</th>
    </tr>
  </thead>
@foreach (var aeropuerto in Model.Aeropuertos)
    {
        <tr>
            <td>@aeropuerto.#</td>
            <td>@aeropuerto.Ciudad</td>
            <td>@aeropuerto.Nombre_Aeropuerto</td>
            <td>@aeropuerto.Dirección</td>
            <td>
     <a class="btn btn-info" asp-page="./Details" asp-route-aeropuertoId="@aeropuerto.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-aeropuertoId="@aeropuerto.id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>
