@page
@model ProyectoCiclo3.App.Frontend.Pages.FormAvionModel
@{
    var avion = Model.Avion;
}
<div class="text-center">
<form method="post">
   <label for="marca" class="form-label">Marca:</label>
   <select asp-for="@avion.marca" class="form-control">
        <option value="">Seleccionar un Avion-</option>
        @foreach (var ruta in Model.Rutas)
    {
        <option value="@ruta.id">@ruta.origen - @ruta.destino - @ruta.tiempo_estimado</option>
    }
    </select>
   
   
    <label for="modelo" class="form-label">Modelo:</label>
    <input type="number" class="form-control" id="modelo" placeholder="Modelo" asp-for="@avion.modelo" required>
    <label for="num_asientos" class="form-label">Numeros de Asientos: </label>
    <input type="number" class="form-control" id="num_asientos" placeholder="Numero Asientos" asp-for="@avion.num_asientos" required>
    <label for="Wc" class="form-label">Wc:</label>
    <input type="number" class="form-control" id="wc" placeholder="Wc" asp-for="@avion.wc" required>
    <label for="cap_maxima" class="form-label">Cap_maxima:</label>
    <input type="number" class="form-control" id="cap_maxima" placeholder="Cap_maxima" asp-for="@avion.cap_maxima" required>
    <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
