@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsAvionModel
@{
    var avion = Model.Avion;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id: </b> @avion.id</li>
  <li class="list-group-item"> <b>Marca: </b> @avion.marca</li>
  <li class="list-group-item"> <b>Modelo: </b> @avion.modelo</li>
  <li class="list-group-item"><b>num_asientos: </b> @avion.num_asientos</li>
  <li class="list-group-item"><b>Wc: </b> @avion.wc</li>
  <li class="list-group-item"><b>Cap_maxima: </b> @avion.cap_maxima</li>
</ul>	